<!DOCTYPE html>
<html>
    <head>
        <title>CV - 202202481</title>
        <link
        rel="stylesheet"
        type="text/css"
        href="{{ url_for('static',filename='styles.css')}}"
        />
    </head>
    <body>
        <header>
        <img
            src="{{ url_for('static',filename='fotojosue.jpeg')}}"
            width="200"
            height="250"
        />
        <h1>Josué Nabí Hurtarte Pinto</h1>
        <p>Estudiante de Programación</p>
        </header>

        <section>
            <h2>Datos Personales</h2>
            <p>Hola mi nombre es Josué. 
            Me gustan los videojuegos, animes, caricaturas y la programación. 🐐
            </p>
            <p>
                Soy Estudiante en la Universidad de San Carlos de Guatemala. En la facultad de Ingeniería.
                Estudio la carrera de Ingeniería en Ciencias y Sistemas. Me gusta aprender y hacer tareas 
                aunque a veces me cuesta un poco poner atencion y enfocarme. 😴
            </p>
        </section>

        <section>
        <h2>Información de contacto</h2>
        <ul>
            <li>Correo: josuepinto013@gmail.com 💌</li>
            <li>Numero de celular: 202202481 📲</li>
            <li>github: <a href="https://github.com/Josue013" target="blank"></a>https://github.com/Josue013 💻</li>
        </ul>
        </section>

        <section>
        <h2>Nivel de estudios</h2>
        <ul>     
            <li>4to Bachillerato en ciencias y letras con orientación en Computación 📖</li>
            <li>5to Bachillerato en ciencias y letras con orientación en Computación 🎓</li>
            <li>Primer Semestre de Ingenieria en Sistemas 📖</li>
            <li>Segundo Semestre de Ingenieria en Sistemas 📖</li>
            <li>Tercer Semestre de Ingenieria en Sistemas 📖</li>
            <li>Cuarto Semestre de Ingenieria en Sistemas 📖</li>
        </ul>
        </section>

        <section>
        <h2>Tabla de habilidades</h2>
        <div id="main-container">
            <table>
                <thead>
                <tr>
                    <th>Habilidad</th>
                    <th>Descripción</th>
                </tr>
                </thead>
                <tr> 
                    <th>Frontend</th>    
                    <td>HTML</td>
                </tr> 
                <tr>
                    <th>Frontend</th>        
                    <td>CSS</td>
                </tr>          
                <tr>
                    <th>Frontend</th>        
                    <td>Bootstrap</td>
                </tr>          
                <tr>
                    <th>Frontend</th>        
                    <td>Javascript  en proceso...</td>
                </tr>          
                <tr>
                    <th>Frontend</th>        
                    <td>React en proceso...</td>
                </tr>          
                <tr>
                    <th>Backend</th>        
                    <td>python</td>
                </tr>         
                <tr>
                    <th>Extras</th>        
                    <td>GIT y GITHUB</td>
                </tr>
                <tr>
                    <th>Extras</th>        
                    <td>MARKDOWN</td>
                </tr>
            </table>
        </div>
        </section>

        <section>
            <h2> Intereses y hobbies</h2>
            <ul>     
                <li>Jugar Videojuegos 🎮</li>
                <li>Ver Anime 🍜</li>
                <li>Jugar Futbol ⚽</li>
                <li>Ir al Gymnasio 💪</li>
                <li>Aprender cosas nuevas 🐱‍👤</li>
                <li>Pasar tiempo con mi familia 👨‍👩‍👦‍👦</li>
            </ul>
            </section>
    </body>
</html>

